<div class="card" style="width: 775px; margin-top: 10px; margin-bottom: 30px">
  <div class="card-body">
    <p>Wrote : {{fullName| uppercase}}</p>
    <h5 class="card-title">{{ contentItem.title }}</h5>
    <p class="card-text">{{ contentItem.description }}</p>
    <p class="card-text"><small class="text-muted">Data time : {{createData | date}}</small></p>
  </div>
  <img class="card-img-bottom" src="https://i.pinimg.com/originals/4f/83/fd/4f83fdbb22d9fb7c1c386d870e742b75.jpg" alt="Card image cap">
</div>
