<button style="margin-top: 20px;" type="button" class="btn btn-outline-success" data-toggle="modal" data-target="#exampleModalLong">
  Add news
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add news</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control" placeholder="Title" [(ngModel)]="addTitle">
        </div>
        <div class="form-group">
          <label >Description</label>
          <textarea  type="text" class="form-control" placeholder="Description" [(ngModel)]="addDescription"></textarea>
        </div>
        <button class="btn btn-dark" type="submit" (click)="addNews()">Add</button>
      </div>
    </div>
  </div>
</div>


<app-content *ngFor="let add of news" [contentItem]="add" class="mb-5"></app-content>
