<div class="container">
  <div class="row">
    <div>
      <h2 class="text-center mt-4">{{title | uppercase}}</h2>
      <table  class="mt-4 table-active table table-sm " style="width: 775px; margin-bottom: 40px">
        <tr>
          <th>Photo</th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        <tr *ngFor="let com of communitiess" class="table-success" scope="row">
          <td><img style="    width: 100px; height: 100px;" src="{{com.fileName}}" alt=""></td>
          <td>{{com.communitiesName}}</td>
          <td>{{com.descriptions}}</td>
        </tr>
      </table>
    </div>
    <app-login></app-login>
  </div>
</div>


